<!--
    Author: Chris Lee
    Desc: QR Hook Web Application
 -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Title for Web Application -->
        <title>QR Hook</title>

        <!-- Meta Tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon for the Web Application -->
        <link href="http://c750903.r3.cf2.rackcdn.com/qrhook.com/images/qrhooklogo-alone32.png" type="image/png" rel="icon" />

        <!-- Font -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' /> -->

        <!-- Stylesheet for Twitter Bootstrap -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />

        <!-- Main Stylesheet for the web application -->
        <link rel="stylesheet" type="text/css" href="css/qrhook-main.css" />

        <!-- Stylesheet for QR Codes -->
        <!-- <link rel="stylesheet" type="text/css" href="css/qrcode.css" /> -->

        <script type="text/javascript" src="http://c748908.r8.cf2.rackcdn.com/Javascript/head.min.js"></script>

    </head>
    <body>

        <div id="content" class="container">
            <div class="hero-unit">
                <h2>Fuck you</h2>
                <p>Please die in a fire</p>
            </div>

            <div id="qrhookCopyright">&#169;2012 QR Hook</div>
        </div>​
        <script type="text/javascript">
            head.js("http://code.jquery.com/jquery-1.7.2.min.js",//jQuery
                "js/boostrap.js",
                "js/main.js"
        </script>

    </body>
</html>
