<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Title for Web Application -->
        <title>Streaming Upload</title>

        <!-- Favicon for the Web Application -->
        <link href="http://2b4b65d3a888a8c38e25-7297cd5ef4b9c3889ee2d29d61417984.r20.cf2.rackcdn.com/favicons/qrhooklogo-alone32.png" type="image/png" rel="icon" />

        <!-- Main Stylesheet for the web application -->
        <link rel="stylesheet" type="text/css" href="css/main.css" />

    </head>
    <body>
        <div id="content">
            <div>This now works</div>
        </div>
        
        <!-- Latest jQuery -->
        <script type="text/javascript" src="http://2b4b65d3a888a8c38e25-7297cd5ef4b9c3889ee2d29d61417984.r20.cf2.rackcdn.com/js/jquery-1.8.2.min.js"></script>

        <!-- Latest jQueryUI -->
        <script type="text/javascript" src="http://2b4b65d3a888a8c38e25-7297cd5ef4b9c3889ee2d29d61417984.r20.cf2.rackcdn.com/js/jquery-ui-1.8.24.custom.min.js"></script>

        <!-- Plugin for handling position and size -->
        <script type="text/javascript" src="http://2b4b65d3a888a8c38e25-7297cd5ef4b9c3889ee2d29d61417984.r20.cf2.rackcdn.com/js/sizePosition.js"></script>

        <script type="text/javascript" src="js/binary.js"></script>

        <script type="text/javascript" src="js/main.js"></script>

    </body>
</html>
